<table class="table">
    <thead>
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Email</th>
            <th class="text-center">Telefone</th>
            <th class="text-center">Endereço</th>
        </tr>
    </thead>
    <!-- <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.endereco }}</td>
        </tr>
    </tbody> -->
</table>