<div class="container">
    <h2>Formulário</h2>
    <form>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Insira seu nome" name="nome"
                [(ngModel)]="usuario.nome">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Insira seu email" name="email"
                [(ngModel)]="usuario.email">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" placeholder="Insira seu telefone" name="telefone"
                [(ngModel)]="usuario.telefone">
        </div>
        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" class="form-control" id="endereco" placeholder="Insira seu endereço" name="endereco"
                [(ngModel)]="usuario.endereco">
        </div>
    </form>
    <button (click)="adicionarUsuario()">Salvar</button>
</div>